.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 84%;
}

.contact_button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px 2px;
    width: 120px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.bloc-identity > h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    
}

.bloc-identity > .place-photographer {
    color: #901C1C;
    font-size: 24px;
    margin: 0;
}

.bloc-identity > .tagline-photographer {
    color: #525252;
    font-size: 18px;
    margin: 30px 0;
}
.bloc-img {
    order: 3;
}
.bloc-img > img {
    height: 200px;
    width: 200px;
    border: 2px solid #95FFF9;
    border-radius: 50%;
    object-fit: cover;
    
}

.sort-system {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin: 20px 100px;
    
}

.sort-system > label, select {
    font-size: 16px;
    font-weight: 700;
    
}

#lightbox {
    background-color:white;
    width: 100%;
    height:100%;
    position: fixed;
    z-index: 999;
    top:0;
    display: none;
}

.lightbox__modal {
    display: block;
    margin: 5% auto;
    background-color: transparent;
    width: 80%;
    height: 80%;
    position: relative;
    bottom: 30px;
}

.lightbox__modal header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 90px;
    padding: 0 40px;
}

.lightbox__flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-left, .arrow-right {
    color: #901C1C;
    font-size: 42px;
    padding: 36px;
    margin-top: 60px;
}

.carousel{
    width: 100%;
    height:400px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact_modal__modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 30px auto;
}

.contact_modal__modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
}
#header-modal__title {
    display: flex;
    flex-direction: column;
    margin: -20px 0;
}

.contact_modal__modal header img {
    cursor: pointer;
    height: 36px;
    margin-top: -10px;
}

.contact_modal__modal header h2, .form-name {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
}

form label {
    color: #312E2E;
    font-size: 28px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

form input {
    height: 44px;
}

form textarea {
    resize: none;
    height: 140px;
}

.close-modal-button, .bloc-media {
    z-index: 1;
    border: none;
    background-color: transparent;
}

.close-modal {
    z-index: 2;
}

.bloc-image  img, .bloc-video  video {
    width: 236px;
    height: 216px;
    cursor: pointer;
}

.bloc-image  img {
    border-radius: 5px;
   
}

.contain-media {
    display: grid;
    grid-template-columns: 236px 236px 236px;
    justify-content: space-between;
    row-gap: 2%;
    margin: 60px 100px;
    width:84%;
}

.media-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}
.media-legend__title, .media-legend__likes {
    color: #901C1C;
    margin: 8px 0;
}

.media-legend__likes {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.media-legend__likes > span {
    margin-left: 8px;
}

.bloc-encart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    background-color: #DB8876;
    position:fixed;
    bottom: 0;
    left: 77%;
    padding: 0 24px;
    z-index: 999;
}

.bloc-likes > p {
    color: #000;
    font-weight: 500;

}

.bloc-media__carousel .media-legend__title, .bloc-media__carousel img, .bloc-media__carousel video {
    position: relative;
    bottom:70px;
}
.bloc-media__carousel img, .bloc-media__carousel video {
    width: 100%;
    height: 600px;
}

.media-legend-lightbox {
    position: relative;
    bottom: 70px;
}

select {
    background-color: #901C1C;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 12px;
    letter-spacing: 0.5px;
}





